* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex: 1 0 0%;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.header, .footer {
    background-color: #1f2937;
    height: 80px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f9faf8;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header .links ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 120em;
}

.one {
    display: flex;
    height: 100%;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
}

.one .left {
    display: flex;
    flex: 1 0 0%;
    flex-direction: column;
    max-width: 400px;
    margin-left: auto;
    gap: 10px;
}

.one .left-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.one .left-text {
    color: #e5e7eb;
    font-size: 18px;
}

.one .right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 400px;
    margin-right: auto;
    /* border: 2px solid red; */
}

.one img {
    width: 150%;
}

button {
    background-color: #3882f6;
    border: none;
    color: #e5e7eb;
    height: 30px;
    width: 100px;
    border-radius: 10px;
}

.two {
    background-color: white;
    height: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1f2937;
    text-align: center;
}

.two .information {
    font-size: 36px;
    font-weight: 900;
    max-height: 100%;
}

.two .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3em;
    gap: 3em;
}

.two img {
    max-width: 100%;
    max-height: 100%;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
    font-size: 14px;
}

.three {
    display: flex;
    background-color: #e5e7eb;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
}

.three .quote {
    width: 100%;
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
}

.three .author {
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    text-align: right;
}

.four {
    background-color: rebeccapurple;
    height: 100%;
}

.signup-container {
    border: 1px solid white;
}